@font-face {
    font-family: "Cafe24Supermagic-Bold-v1.0";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: "Cafe24Supermagic-Bold-v1.0";
  }
  
  nav {
    /* 레이아웃에 대한 스타일(5~10줄) */
    display: flex;
    align-items: center;
  
    padding-left: 200px;
    padding-right: 120px;
  
    gap: 40px;
    height: 100px;
  }
  
  .navItem {
  }
  
  .badge {
    /* display: flex; */
    
    padding: 12px 24px;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
    border-radius: 10px;
    background: #e6eeff;
    width: fit-content;
  
    /* 텍스트 속성 */
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
  
    margin-bottom: 40px;
  }
  
  header{
    margin : 30px 200px;
  }

  .main {
    display: flex;
  }

  .profile {
    width : 300px;
    margin-left : 200px;
    border-radius: 70%;
  }

  header h1 {
    margin-top : 0px;
    margin-bottom : 0px;
    color: #333;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 80px */
    letter-spacing: -1.28px;
  }
  
  header h1 em {
    background: linear-gradient(
      99deg,
      #001f8f 3.58%,
      rgba(36, 255, 203, 0.5) 90.34%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .headerLinkContainer {
    display: flex;
    gap : 15px;
    /* flex-direction: row; */
  }
  .headerLink {
    margin-top : -30px;
    border-radius: 10px;
    /* background-color: ; */
    padding: 25px 80px;
    display: block;
    text-decoration: none;
    
    margin-bottom : 20px;
  }

  .resumelink{
    color: black;
    border: 6px solid black;
  }

  main {
    padding: 12px;
    background: linear-gradient(to right, #c8e5ff, #ecffff);
  }

  .introduce {
    margin : 50px 200px;
    padding: 12px;
    background: linear-gradient(to right, #c8e5ff, #ecffff);
  }

  .super{
    width: 50px;
    height: auto;
    position : absolute;
    left : 21.2%;
    top:90%;
  }

  .stack {
    margin : 50px 120px;
    text-align: center
  }
  
  .fixedContactButton {
    position: fixed;
    right: 60px;
    bottom: 60px;
  
    border-radius: 50px;
    border: 10px solid #bbd5f7;
    background: linear-gradient(
      98deg,
      #bed3ff -10.83%,
      #d2f3e5 51.79%,
      #ffebd9 110.76%
    );
    width: 165px;
    padding: 20px 40px;
    color: rgba(64, 57, 48, 0.8);
  
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

.imagestack{
  margin : 50px 200px;
  display:flex;
  justify-content: space-evenly;
}

.imagestack2 {
  width : 100px;
  height : 95px;
}
  /* ----- 애니메이션 ---- */

.typing {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}